*{
    	margin: 0;
    	padding: 0;
	
}
.background{
    	min-height: 80vh;
    	width: 100%;
    	background-image: url(scaryFace2.jpg);
    	background-position: center;
    	background-size: cover;
    	position: relative;
	margin-top: 30px;
}

#canvas1 {
    	position: absolute;
    	top: 83%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	border: 5px solid white;
    	padding-bottom: 50px;
}


#Canvas {
    	position: absolute;
    	top: 77%;
    	left: 50%;
    transform: translate(-50%, -50%);
    
    
}

#player, #background{
    	display: none;
}

.main_pages_title {
	text-align: center;
	font-size: 30px;
	padding-top: 40px;
    	background: #f1f1f1;
	
}
.main_menu {
	list-style-type: none;
  	text-align: center;
  	margin: 0;
  	padding: 0;
	background: #f1f1f1;
	padding-bottom: 20px;
}

.main_menu li {
  	display: inline-block;
	margin-top: 30px;
	-- margin-bottom: 40px;
  	font-size: 20px;
  	padding: 20px;
}

.links_main_menu {
	color: #07186c;
    	text-decoration: none;
    	border: 6px solid #cfcfcf;
    	border-bottom-style: outset;
    	border-radius: 6px;
    	padding: 10px;
    	background: #ebebeb;
}

.links_main_menu:hover {
	color: #c159db;
}

.text_content {
	font-family: "Times New Roman", Times, serif;
	padding-left: 20px;
    	padding-right: 20px;
    	font-size: 20px;
    	line-height: 1.4em;
}

--.img_center {
text-align:center;
}


#img_cast {
	display: block;
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 30px;
}